<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>

    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-header layui-bg-gray">

    <div class="layui-logo" style="font-size: 20px; color: #393D49">作业查重系统</div>

</div>

<div style="margin: auto">
    <i class="layui-icon layui-icon-face-cry" style="font-size: 70px;color: #FF5722"></i>
    对不起，您的权限不足...
</div>

<script src="../layui/layui.js"></script>

</body>
</html>