<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师主页</title>
    <link rel="stylesheet" href="../layui/css/layui.css">

</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div class="layui-header layui-bg-gray">

        <div class="layui-logo" style="font-size: 20px; color: #393D49">作业查重系统</div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" style="color: #393D49">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="" style="color: #393D49">退了</a></li>
        </ul>
    </div>

    <div class="layui-bg-green">
        <!-- 内容主体区域 -->
        <div style="padding: 15px; width: 80%; margin: auto">
            <div class="layui-row layui-col-space5 layui-bg-gray">
                <div class="layui-col-md12">
                    <div class="layui-row grid-demo">

                        <div class="layui-col-md12 layui-form-item">
                            <label class="layui-form-label">单行输入框</label>
                        </div>

                        <div class="layui-col-md12" style="background: #00FF00; padding-top: 15px; padding-left: 20px">
                            <!-- 面包屑导航 -->
                            <div class="layui-col-md12 layui-form-item" style="padding-left: 20px">
                            <span id="view" class="layui-breadcrumb" lay-filter="breaddemo">
                                <script id="bread" type="text/html">
                                    {{# console.log(d);}}
                                    {{# layui.each(d.bread, function (i, e) { }}
                                    <a href="javascript:;" onclick="breadOn('{{e.name}}');" style="font-size: 20px">{{ e.name }}</a>
                                    <span lay-separator>/</span>
                                    {{# }); }}
                                </script>
                            </span>
                            </div>
                        </div>

                        <div class="layui-col-md12" style="background: #1E9FFF">
                            <!-- 数据表格 -->
                            <table id="test" class="layui-table" lay-filter="test"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../layui/layui.js"></script>
<script th:inline="none">
    layui.use(['form','table'], function () {
        var form = layui.form
            ,table = layui.table;

        var $ = layui.$, active = {
            parseTable: function(){
                table.init('parse-table-demo', { //转化静态表格
                    //height: 'full-500'
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来进行渲染
        form.render();
    });


</script>
</body>
</html>
