<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
    <link rel="stylesheet" href="../layui/css/layui.css" type="text/css">
</head>
<body class="layui-layout-body">

<div class="layui-header layui-bg-gray">

    <div class="layui-logo" style="font-size: 20px; color: #393D49">作业查重系统</div>

</div>


<!-- 方法 -->
<script src="../webjars/jquery/3.4.1/jquery.js"></script>
<script src="../layui/layui.js" type="text/javascript"></script>
<script th:inline="none">

</script>
</body>
</html>