<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统后台页面</title>
    <link rel="stylesheet" href="../layui/css/layui.css" type="text/css">
<style type="text/css">
    .admin-frame{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
    }
</style>
</head>
<body class="layui-layout-body">
<input id="inform1" style="display: none" value="1">
<input id="inform0" style="display: none" value="0">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-color: #2F4056">

        <div class="layui-logo" style="font-size: 20px; color: white">后台数据管理</div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span style="color: white" th:text="${current.realname}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a id="logout" href="javascript:" style="color: white">注销</a></li>
        </ul>
    </div>

    <div class="layui-side" style="background-color: #2F4056">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域 -->
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="test" style="background-color: #2F4056">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:">所有用户</a>
                    <dl class="layui-nav-child">
                        <dd><a id="navStuUser" href="/admin/students" target="main_self">学生用户</a></dd>
                        <dd><a id="navTeaUser" href="/admin/teachers" target="main_self">教师用户</a></dd>
                        <dd><a id="navUserSearch" href="/admin/search" target="main_self">搜索</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:">通知</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/informs" target="main_self">必修通知</a></dd>
                        <dd><a id="navInform0" target="main_self">选修通知</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/admin/files" target="main_self">文件</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/admin/roles" target="main_self">系统角色一览</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/admin/authorities" target="main_self">角色权限</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="height: 100%">
        <!-- 内容主体区域 -->
        <iframe id="childFrame" class="admin-frame" src="/admin/students" name="main_self" frameborder="0" ></iframe>
    </div>

</div>
<script src="../webjars/jquery/3.4.1/jquery.js"></script>
<script src="../layui/layui.js" type="text/javascript"></script>
<script th:inline="none">

    $('#logout').click(function () {
        layer.confirm('确定退出系统吗',function () {
            window.location="/logout";
        })
    });

    layui.use(['form','table','element'], function () {
        var form = layui.form
            ,element = layui.element
            ,table = layui.table;

    });


</script>

</body>
</html>
