<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../layui/css/layui.css" type="text/css">
</head>
<body>

<!-- 头部工具栏 -->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    </div>
</script>

<!-- 数据表格 -->
<table class="layui-table" lay-filter="test" lay-data="{
           height: 'full-200'
           ,url:'/admin/informType?type=1'
           ,limit:15
           ,page: {
               layout: ['prev', 'page', 'next', 'skip','count']
               ,groups: 5
           }
           ,id:'demo'
           ,initSort:{field: 'date',type: 'desc'}
           ,toolbar: '#toolbarDemo'}">
    <thead>
        <tr>
            <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field: 'sendId', width:80, event: 'showUser', style:'cursor: pointer;'}">发布人</th>
            <th lay-data="{field: 'content', width :600, event: 'showInform', style:'cursor: pointer;'}">内容</th>
            <th lay-data="{field: 'type', width:60 , templet: '#typeTpl'}">类型</th>
            <th lay-data="{field: 'date'}">日期</th>
            <th lay-data="{field: 'path', event: 'showPath', style:'cursor: pointer;'}">通知路径</th>
        </tr>
    </thead>
</table>

<!-- 模板 -->
<script type="text/html" id="typeTpl" th:inline="none">
    {{#  if(d.type === 1){ }}
    <label name="type" class="layui-form-label" style="text-align: left; padding-left: 0">必修</label>
    {{#  } else { }}
    <label name="type" class="layui-form-label" style="text-align: left; padding-left: 0">选修</label>
    {{#  } }}
</script>

<!-- 方法 -->
<script src="../webjars/jquery/3.4.1/jquery.js"></script>
<script src="../layui/layui.js" type="text/javascript"></script>
<script th:inline="none">

    // let param0 = $(window.top.document).find('#inform0').val();
    let link0 = $(window.top.document).find('a')[8];

    layui.use(['table', 'form'], function () {
        var table = layui.table
            , form = layui.form;

        link0.addEventListener('click', function () {
            table.reload('demo', {
                url: '/admin/informType?type=0'
            });
        });


        //监听单元格事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'showUser'){
                layer.msg("展示用户")
            }else if (obj.event === 'showInform'){
                layer.msg("展示通知内容")
            }else {
                layer.msg("展示文件路径")
            }
        });


    });


</script>
</body>
</html>